body {
    height: 100vh;
    background-image: url("https://i.imgur.com/Bu8YL93.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}